<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="a417044f-9a99-47d8-8723-d85d39271a46" activeEnvironment="Default environment" name="WMSAutomation" lastOpened="2016-06-09T15:26:21.088+05:30" resourceRoot="" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:savedRecentRuns>1</con:savedRecentRuns><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:reporting/><con:authRepository/><con:tags/></con:soapui-project>