<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="f16b468a-b1e7-4336-b81a-cf4cf20812d4" wsaVersion="NONE" name="WeatherSoap12" type="wsdl" bindingName="{http://ws.cdyne.com/WeatherWS/}WeatherSoap12" soapVersion="1_2" anonymous="optional" definition="http://wsf.cdyne.com/WeatherWS/Weather.asmx?WSDL" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="f16b468a-b1e7-4336-b81a-cf4cf20812d4fileName">WeatherSoap12</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://wsf.cdyne.com/WeatherWS/Weather.asmx</con:endpoint></con:endpoints></con:interface>